Repository Jessika63/PharmaXcess, pull requests merged in 2025-06, with the labels that each got.

#196 Log scanner improvement
  distributeur/backend/requirements.txt
  distributeur/backend/scripts/leak_checker/config.json
  distributeur/backend/scripts/scanner/extractAll.py
  distributeur/launch_config.json
  distributeur/launch_distributeur/scripts/handle_dump.py
Labels: enhancement, Logiciel, numérisation ordonnance, back

#227 UPDATE: add posologie and doctor speciality in json information
  distributeur/backend/scripts/scanner/extractAll.py
Labels: enhancement, Logiciel, suivi ordonnances, validation ordonnances

#225 Fix gha
  .github/workflows/pipeline_distributeur_backend.yml
  .gitkeep
  .pre-commit-config.yaml
  distributeur/backend/docker/Dockerfile.app
  distributeur/backend/docker/Dockerfile.test
  distributeur/backend/requirements.txt
  distributeur/backend/requirements_ignored.txt
  distributeur/backend/scripts/safety/run_safety.sh
  distributeur/backend/scripts/safety/safety-policy.yaml
  distributeur/backend/scripts/scanner/Readme.md
Labels: bug, Logiciel, back, test CI/CD

#228 Frontend Refactor, UI/UX Improvements, and Enhanced Pharmacy Features
  Readme.md
  distributeur/Readme.md
  distributeur/backend/app.py
  distributeur/backend/routes/get_directions.py
  distributeur/backend/routes/get_pharmacies.py
  distributeur/backend/scripts/scanner/Readme.md
  distributeur/backend/test/LineOfExecution/4-Pharmacies.txt
  distributeur/backend/test/results.png
  distributeur/backend/test/test_get_directions.py
  distributeur/backend/test/test_get_pharmacies.py
  distributeur/frontend/README.md
  distributeur/frontend/package-lock.json
  distributeur/frontend/package.json
  distributeur/frontend/src/components/ErrorPage.js
  distributeur/frontend/src/components/camera_component.js
  distributeur/frontend/src/components/modal_camera.js
  distributeur/frontend/src/components/pages/DirectionsMapPage.js
  distributeur/frontend/src/components/pages/documents_checking.js
  distributeur/frontend/src/components/pages/drug_stores_available.js
  distributeur/frontend/src/components/pages/drug_unavailable.js
  distributeur/frontend/src/components/pages/insufficient_stock.js
  distributeur/frontend/src/components/pages/non_prescription_drugs.js
  distributeur/frontend/src/components/pages/payment_failed.js
  distributeur/frontend/src/components/pages/preorder.js
  distributeur/frontend/src/components/pages/starting_page.js
  distributeur/frontend/src/config.js
  distributeur/frontend/src/routes.js
  distributeur/frontend/src/utils/fetchWithTimeout.js
  distributeur/frontend/src/utils/useInactivityRedirect.js
  distributeur/prerequisites/Prerequisites.md
Labels: documentation, Logiciel, back, front
