Repository Jessika63/PharmaXcess, pull requests merged in 2025-02, with the labels that each got.

#152 145 log add documentation
  .gitignore
  Readme.md
  app/README.md
  distributeur/Launch_Readme.md
  distributeur/Readme.md
  distributeur/backend/README.md
  distributeur/backend/routes/Readme.md
  distributeur/backend/test/README.md
  distributeur/backend/test/results.png
  distributeur/frontend/README.md
Labels: documentation, Logiciel, back, docker, front

#157 [ADD] dump export with launching script
  distributeur/Launch_Readme.md
  distributeur/launch.py
  distributeur/launch_distributeur/scripts/handle_dump.py
Labels: Logiciel, back

#154 [ADD] pharmacies route + translate code in english
  distributeur/backend/app.py
  distributeur/backend/db.py
  distributeur/backend/docker-compose.yml
  distributeur/backend/routes/add/add_doctor.py
  distributeur/backend/routes/add/add_list_doctors.py
  distributeur/backend/routes/find/find_doctor_by_name.py
  distributeur/backend/routes/find/find_doctor_by_rpps.py
  distributeur/backend/routes/get_pharmacies.py
  distributeur/backend/routes/read_text.py
  distributeur/backend/routes/remove_doctor.py
  distributeur/backend/routes/take_picture.py
  distributeur/backend/scripts/leak_checker/check_leak.py
  distributeur/backend/scripts/safety/run_safety.sh
  distributeur/backend/test/LineOfExecution/4-Pharmacies.txt
  distributeur/backend/test/add/test_add_doctor.py
  distributeur/backend/test/add/test_add_list_doctors.py
  distributeur/backend/test/config.py
  distributeur/backend/test/conftest.py
  distributeur/backend/test/find/test_find_doctor_by_name.py
  distributeur/backend/test/find/test_find_doctor_by_rpps.py
  distributeur/backend/test/results.png
  distributeur/backend/test/test_get_pharmacies.py
  distributeur/backend/test/test_read_text.py
  distributeur/backend/test/test_remove_doctor.py
  distributeur/backend/test/test_take_picture.py
  distributeur/launch_distributeur/helpers/config/load_config_file.py
  distributeur/launch_distributeur/helpers/env_functions/load_env_file.py
  distributeur/launch_distributeur/helpers/env_functions/verify_env_file.py
  distributeur/launch_distributeur/helpers/verify/verify_db_dump.py
  distributeur/launch_distributeur/scripts/handle_update.py
  distributeur/launch_distributeur/scripts/temp_updates_functions/__init__.py
  distributeur/launch_distributeur/scripts/temp_updates_functions/change_frpp_by_rpps.py
Labels: Logiciel, localisation distributeurs, back, test CI/CD

#158 Fix bug in gha mirror
  .github/workflows/sync.yml
Labels: bug, test CI/CD

#71 Refactor Server Architecture from JavaScript to Java (#70)
  app/web_server/.gitignore
  app/web_server/API/users.js
  app/web_server/API/vending_machines.js
  app/web_server/SQL/init.js
  app/web_server/SQL/medical_records/init.sql
  app/web_server/SQL/medications/init.sql
  app/web_server/SQL/prescriptions/init.sql
  app/web_server/SQL/users/init.sql
  app/web_server/SQL/users/query.js
  app/web_server/SQL/vending_machines/init.sql
  app/web_server/SQL/vending_machines/query.js
  app/web_server/database/dockerfile
  app/web_server/database/init.sql
  app/web_server/docker-compose.yml
  app/web_server/dockerfile
  app/web_server/docs/swagger.js
  app/web_server/index.js
  app/web_server/package-lock.json
  app/web_server/package.json
  app/web_server/server/dockerfile
  app/web_server/server/entrypoint.sh
  app/web_server/server/pharmaxcess_server/.gitattributes
  app/web_server/server/pharmaxcess_server/.gitignore
  app/web_server/server/pharmaxcess_server/.mvn/wrapper/maven-wrapper.properties
  app/web_server/server/pharmaxcess_server/mvnw
  app/web_server/server/pharmaxcess_server/mvnw.cmd
  app/web_server/server/pharmaxcess_server/pom.xml
  app/web_server/server/pharmaxcess_server/src/main/java/com/pharmaxcess_server/pharmaxcess_server/PharmaxcessServerApplication.java
  app/web_server/server/pharmaxcess_server/src/main/java/com/pharmaxcess_server/pharmaxcess_server/User.java
  app/web_server/server/pharmaxcess_server/src/main/java/com/pharmaxcess_server/pharmaxcess_server/UserController.java
  app/web_server/server/pharmaxcess_server/src/main/java/com/pharmaxcess_server/pharmaxcess_server/UserRepository.java
  app/web_server/server/pharmaxcess_server/src/main/resources/application.properties
  app/web_server/server/pharmaxcess_server/src/test/java/com/pharmaxcess_server/pharmaxcess_server/PharmaxcessServerApplicationTests.java
  app/web_server/tools/google_map.js
  app/web_server/tools/token.js
Labels: Mobile, back, docker

#168 add a prerequisites installer
  distributeur/Launch_Readme.md
  distributeur/backend/README.md
  distributeur/frontend/Dockerfile
  distributeur/frontend/README.md
  distributeur/launch_config.json
  distributeur/prerequisites/Prerequisites.md
  distributeur/prerequisites/install_prerequisites.sh
Labels: documentation, Logiciel, back, front
